# --- NÚCLEO PYTHON ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.venv
venv/
env/
ENV/

# --- BANCO DE DADOS LOCAL (CRÍTICO PARA VOCÊ) ---
data/*.db


# --- FERRAMENTAS DE DESENVOLVIMENTO ---
.vscode/
.idea/
.env
.pytest_cache/
.coverage
htmlcov/

# --- SISTEMA ---
.DS_Store
Thumbs.db